#banner {

    background-image: url(https://www.univ-lorraine.fr/sites/www.univ-lorraine.fr/files/styles/header/public/iut-metz.jpg?itok=cnwqe1HV);
    width: 100%;
    height: 200px;
}

#nav {

    background-color: white;
}

#nav a span{

    color: black;
    margin-left: 15px;
}

#nav li {

    margin: 0 10px;
}

#nav li :hover {

    background-color: rgb(0, 110, 255);
    color: white;
    border-radius: 5px;
}

#titre {

    border-bottom: rgb(0, 110, 255) solid 3px;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    width: 70%;
    display: block;
}

#projets-accueil {

    width: 1000px;
    height: 400px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projet-une {

    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding : 10px;
    box-shadow: 0px 0px 5px 1px rgb(184, 182, 182);
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.projet-une:hover {

    box-shadow: 0px 0px 5px 1px rgb(0, 110, 255);
    cursor: pointer;
}
 
.actif {

    background-color: rgb(0, 110, 255);
    color: white;
    border-radius: 5px;
}

.liste-projet {

    display: block;
    width: 100%;
}

.projet {

    margin: 10px;
    text-align: left;
}

.projet:hover {

    background-color:rgb(0, 110, 255);
    color: white;
}